* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
}


.roboto-mid {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.main-container { 
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}


.sidebar{
    grid-column: 1/2;
    grid-row:1/3;
    background-color: rgb(77, 105, 208);
}

.header{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: whitesmoke;
    padding-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
}

.main-content{
    grid-column:2/3;
    grid-row:2/3;
    background-color: white;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    color: white;
    
}

.sidebar-logo{
    margin-left: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 35px;
    color: white;
}

.sidebar-logo > svg {
    height: 50px;
    width: 50px;
    fill: white;
}

.siderbar-nav{
    display:flex;
    flex-direction: column;
    gap: 60px;
    margin-left:30px;
}

.sidebar-group{
    display:flex;
    gap: 20px;
    align-items: center;
}

.sb-nav-group1, .sb-nav-group2{
    display:flex;
    flex-direction: column;
    gap: 10px;
}



.header{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 2fr 3fr;
    gap: 10px;
}

.search-group{
    margin-left: 50px;
    grid-column:1/2;
    grid-row:1/2;
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-group svg{
    fill: black;
}

.greet-group{
    grid-column:1/2;
    grid-row:2/3;
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 20px;
}

.greet-group > img{
    height: 80px;
    width: 80px;
    border-radius: 80px;
}

.mini-profile-nav{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: end;
    gap: 23px;
    margin-right: 80px;
    align-items: center;
}

.mini-profile-nav > img[src="Assets/Screenshot 2025-06-02 at 9.37.11 am.png"] {
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.mini-profile-nav > svg{
    fill: black;
}

.mini-upload-nav{
    grid-column: 2/3;
    grid-row: 2/3;
}

.search-bar{
    width: 75%;
    height: 40%;
    background-color: grey;
    border-radius: 10px;
}

svg{
    width: 25px;
    height: 25px;
    fill: white;
}

img{
    width: 25px;
    height: 25px;
}

button{
    background-color: blue;
    height: 40px;
    width: 100px;
    border-radius: 40px;
    border-style: none;
    color: white;
}

.mini-upload-nav{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 80px;
    gap: 30px;
}

.sub-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 20px;
    gap: 30px;
}



.left{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

#card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 7.5px;
    background-color:  whitesmoke;
    padding: 20px;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
}

#card svg{
    fill: black;
}

#card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: grey;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;

}

.icons-container{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 10px;
    margin-top: auto;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announce-container{
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.announce{
    padding: 10px;
}

.announce2, .announce3{
    padding: 10px;
    border-top-style:solid;
    border-width: 0.08rem;
}

.announce-container p{
    font-size: 1rem;
    line-height: normal;
}


.trend-container{
    padding: 15px;
    display: flex; 
    flex-direction:column;
    gap: 20px;
    background-color: whitesmoke;
    border-radius: 0.5rem;
}


.trend-tag p{
    font-size: 0.9rem;
    line-height: normal;
}

.trend{
    display: flex;
    gap: 10px;
}


.trend-container img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

